.chat-box {
	&__container {
		height: 80vh;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 12vh;
    color: $color-1;
		&__wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 70px;
			button {
				width: 46px;
				height: inherit;
				cursor: pointer;
				background-color: $color-2;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				border: transparent;
				color: white;
				opacity: 1;
			}
			input {
				font-size: 16px;
				height: 32;
				width: 100%;
				border: none;
				outline: none;
				border-radius: 3px 3px 3px 3px;
				color: $color-1;
				padding: 10px;
			}
			&__upload {
				background-color: $color-2;
				padding: 7px;
				border-radius: 5px;
				margin-left: 10px;
        cursor: pointer;
			}
		}
		&__input {
			width: 83%;
			height: 38px;
			display: flex;
			border-radius: 3px 3px 3px 3px;
		}
	}
  &__messages {
		&__logo {
			position: absolute;
			left: 50%;
			top: 45%;
			transform: translate(-50%, -45%);
		}
		&__time {
			font-size: 12px;
			font-style: italic;
		}
    &__images, &__videos {
      width: 100%;
    }
    h3 {
      display: flex;
      justify-content: center;
      font-weight: 300;
    }
    &__right,
    &__left {
      margin: 5px;
      padding: 10px;
      clear: both;
      color: white;
    }
    h6 {
      margin: 4px;
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 12px;
      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-top: -2px;
      }
    }
    p {
      margin: 4px;
      padding: 0;
      font-weight: 400;
      font-size: 15px;
    }
    &__right {
      float: right;
      border-radius: 10px 0px 10px 10px;
      background-color: rgba(95, 95, 95, 0.5);
      max-width: 70%;
      box-shadow: -2px 2px 4px rgb(87, 85, 85);
    }
  
    &__left {
      float: left;
      max-width: 70%;
      border-radius: 0px 10px 10px 10px;
      background-color: rgba(4, 214, 189, 0.5);
      box-shadow: 2px 2px 4px $color-2;
    }
  }
	&__users-list {
		&__card {
			margin-top: 150px;
		}
		&__overflow {
			height: 34vh;
			overflow-y: auto;
			img {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				margin-top: 4px;
				margin-right: 8px;
			}
		}

		&__void {
			text-align: center;
			font-weight: 500;
			color: grey;
			font-size: 16px;
			margin-top: 20px;
		}

		&__users {
			position: relative;
			border-bottom: 1px solid rgba(4, 214, 189, 0.1);
			border-top: 1px solid rgba(4, 214, 189, 0.1);
			border-left: 1px solid rgba(4, 214, 189, 0.1);
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			text-decoration: none;
			cursor: pointer;
			color: $color-2;
			img {
				margin-top: -4;
				margin-right: 8px;
				border-radius: 50%;
				width: 25px;
				height: 25px;
			}
			&--active {
        background-color: rgba(4, 214, 189, 0.5);
				color: $color-1;
			}
			&:hover {
        background-color: rgba(4, 214, 189, 0.5);
				color: $color-1;
			}
		}
		&__online {
			text-align: center;
			color: $color-1;
			text-decoration: none;
			border-radius: 3px;
			font-size: 24px;
			margin: 3px;
			padding: 10px;
			background-color: transparent;
			&__wrapper {
				height: 30vh;
				overflow-y: auto;
			}
		}
		&__conversations {
			text-align: center;
			margin: 3px;
			font-size: 24px;
			padding: 10px;
			color: $color-1;
			background-color: transparent;
			border-radius: 3px;
		}
	}
	@media screen and (max-width: 800px) {
		&__container {
			align-items: unset;
			height: 145vh;
			margin: 35px 0 70px 0;
			margin-top: 15vh;
		}
	}
}


