.header {
  &__translation {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    button {
      background: none;
      border: none;
      margin-top: 4px;
      img {
        width: 40px;
        height: 25px;
        border-radius: 2px;
      }
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: -3px;
  }
  &__navbar {
    &__title {
      font-weight: bold;
      font-size: 23px;
    }
    &__links {
      font-size: 20px;
      line-height: 36px;
      font-style: normal;
      text-decoration: none;
      padding-right: 20px;
      color: $color-1 !important;
      &:hover {
        color: $color-2 !important;
      }
    }
  }
}
.active {
  color: $color-2 !important;
  text-shadow: 0 0 5px $color-2 !important;
}

@media only screen and (max-width: 950px) {
  .header {
    display: none !important;
    &__translation {
      display: flex;
      margin-left: -10px;
      margin-top: 20px;
    }
    &__links {
    display: none;
    }
  }
}