.landing {
  margin-top: 25vh;

  &__first-section {
    img {
      width: 90vh;
      height: 100vh;
      position: absolute;
      right: 10px;
      top: 0px;
      z-index: -1;
    }
    &__left-section {
      &--title {
        font-weight: 600;
        font-size: 55px;
        color: $color-1;
      }
      &--subtitle {
        font-size: 28px;
        line-height: 42px;
        color: $color-2;
        font-weight: 700;
        text-transform: uppercase;
      }
      &--description {
        font-weight: 600;
        font-size: 20px;
        line-height: 42px;
        color: $color-1;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .landing {
    margin-top: 15vh;

    &__first-section {
      &__left-section {
        &--subtitle {
          width: 100%;
          text-align: center;
        }
        &--title {
          width: 100% !important;
          text-align: center;
        }
        &--description {
          width: 100% !important;
          text-align: center;
        }
      }
      img {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .landing {
    margin-top: 13vh;
    &__first-section {
      &__left-section {
        &--subtitle {
          font-size: 20px;
        }
        &--title {
          font-size: 45px;
        }
        &--description {
          font-size: 21px;
        }
      }
    }
  }
  .navbar-toggler {
    color: white !important;
    border-color: none;
    &:focus {
      box-shadow: 0 0 0 transparent !important;
    }
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
}
