.mobile-navbar {
	display: none;
	&--hide {
		display: none;
		margin-top: -20px;
	}
	&--show {
		background-color: $color-3;
		height: 100vh;
		width: 100vw;
		position: absolute;
		left: 0;
		top: 83px;
		overflow: hidden;
	}
	&__burger {
		width: 40px;
		height: 40px;
		background: transparent;
		border: none;
		display: block;
		position: fixed;
		right: 20px;
		margin-top: 22px;
		color: inherit;
	}
	&__burger-bar,
	&__burger-bar::before,
	&__burger-bar::after {
		display: block;
		width: 40px;
		height: 3px;
		position: relative;
		border-radius: 3px;
		margin-top: -14px;
		background: $color-1;
		transition: all 0.5s ease-in-out;
	}
	&__burger-bar::before,
	&__burger-bar::after {
		content: '';
		position: absolute;
		left: 0;
	}

	&__burger-bar::after {
		transform: translateY(7px);
	}
	&__show-nav &__burger-bar {
		width: 0;
		background: transparent;
	}
	&__show-nav &__burger-bar::before {
		transform: rotate(45deg);
	}
	&__show-nav &__burger-bar::after {
		transform: rotate(-45deg);
	}
	&__wrapper {
		margin: 0;
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translate(-50%, -50%);
		&__links {
			margin-top: 20px;
			text-align: center;
			font-size: 20px;
			line-height: 36px;
			font-style: normal;
			text-decoration: none;
			padding-right: 10px;
			color: $color-1;
			display: block;
			&:hover {
				color: $color-2;
			}
		}
	}
}
@media only screen and (max-width: 950px) {
	.mobile-navbar {
		display: block !important;
	}
}
