@import './variables.scss';
@import '../Components/scss/header.scss';
@import '../Components/scss/landing.scss';
@import '../Components/scss/mobile-navbar.scss';
@import '../Components/scss/chat-box.scss';
@import './auth.scss';
@import './user-card.scss';
@import './utils.scss';



@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background: radial-gradient(60.67% 61.22% at 54.53% 42.49%, $color-4 0%, $color-5 95.31%);
  height: 50vh !important;
  background-size: 100vw 100vh;
  background-repeat: unset;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: $color-5;
  border-radius: 10px;

}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 100%;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(4, 214, 189, 0.5);
  border-radius: 10px;
}