.auth {
	&__error {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 65vh;
		margin: 12vh auto;
		margin-bottom: -12vh;
		border-radius: 5px;
		background-color: red;
		color: white;
		padding: 8px 6px 8px 6px;
		animation-name: error;
		animation-duration: 0.4s;
		p {
			margin: 0;
			padding: 0;
			font-size: 18px;
			font-weight: 300;
			text-align: center;
			justify-content: center;
			display: flex;
			width: inherit;
		}
	}
	@keyframes error {
		0% {
			margin: 10px;
		}
		75% {
			margin-left: 32%;
		}
		100% {
			margin: 10px auto;
		}
	}
	img {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 20%;
	}

	form {
		padding-top: 40px;
	}
	p {
		color: $color-1;
		font-size: 27px;
		font-weight: 300;
	}

	button {
		margin-top: 35px;
		padding: 10px 25px;
	}

	&__span {
		margin-top: 55px;
		color: $color-1;
	}
	a {
		color: $color-2;
	}
}
