.user-card {
  &__picture {
    position: absolute;
    left: 50%;
    top: -30px;
    height: 90px;
    margin-left: -45px;
    z-index: 20;
    img {
      width: 90px;
      height: 90px;
      float: left;
      border-radius: 100%;
      border: 6px solid $color-1;
      box-shadow: 0 9px 26px rgba(58, 87, 135, 0.1);
    }
  }
  &__text {
    padding: 70px 45px 22px;
    overflow: hidden;
    background: $color-6;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    p {
      color: $color-1;
      font-size: 14px;
      line-height: 24px;
      font-weight: 500;
    }
  }
  &__infos {
    h3 {
      font-weight: 600;
      color: $color-7;
      font-size: 18px;
    }
    h4 {
      font-weight: 400;
      font-size: 12px;
    }
  }
}